{% extends "base.html" %}

{% block title %}How it Works{% endblock %}

{% block content %}

<h3>Get your Professional CV now</h3>

<p>
A simple 5 step process will get you your CV in record time. 
</p>

<form role="form" 
      method="POST" 
      action="/payment"
      enctype="multipart/form-data">
  <div class="form-group">
    <label for="step1">Step 1:</label>
    <input class="form-control" 
            id="step1" 
            maxlength="255" 
            name="name" 
            placeholder="Your name" 
            type="text" 
            required
            />
  </div>  
  <div class="form-group">
    <label for="step2">Step 2:</label>
    <input class="form-control" 
            id="step2" 
            name="cv" 
            type="file" 
            required
            />
    <p class="help-block">
      Upload your current CV</br>
      <small class="text-muted">
      Word or any commonly used digital format will do..
      </small>
    </p>
  </div>  
  <div class="form-group">
    <label for="step3">Step 3:</label>
    <input class="form-control" 
           id="step3" 
           maxlength="255" 
           name="email" 
           placeholder="Your contact email" 
           type="email" 
           required
           />
    <p class="help-block">
       <small class="text-muted">
       We need this to contact you
       </small> 
    </p>
  </div>  
  <div class="form-group">
    <label for="step4">Step 4:</label>
    <input class="form-control" 
            id="step4" 
            maxlength="255" 
            name="phone" 
            placeholder="Your contact number" 
            type="text" 
            />
    <p class="help-block">
      <small class="text-muted">
        Please include country dialing code (+27, +44, etc.)
      </small> 
    </p>
  </div>  
  <div class='form-group'>
    <label for="step5">Step 5:</label>
    <p>
    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="{{ key }}"
            data-description="A Flask Charge"
            data-amount="10000">
    </script>

    </p>
  </div>
</form>

{%endblock %}
