{% extends "base.html" %}

{% block title %}Contact{% endblock %}

{% block content %}
<h1>Contact Us</h1>
<div>
      <address>
      <strong>Telephone : </strong>
      +27 (0) 81 060 9245</br>
      <strong>e-mail : </strong>
      <a href="mailto:ahughes@onlinejobprofiles.com">ahughes@onlinejobprofiles.com</a>
      </address>
</div>

<form class="form" action="" method="POST">
  <div class='form-group'>
      <input class="form-control" 
                type="text" 
                name="name" 
                placeholder="Your name"
                />
  </div>
  <div class='form-group'>
      <input class="form-control" 
             type="email" 
             name="email" 
             placeholder="Your email" 
             />
  </div>
  <div class='form-group'>
      <input class="form-control" 
             type="text" 
             name="phone" 
             placeholder="Contact Number" 
             />
  </div>
  <div class='form-group'>
      <textarea class="form-control" 
                cols="40" 
                rows="10"
                name="message" 
                placeholder="your message" 
                >
      </textarea>
  </div>
  <div class='form-group'>
      <button type="submit" 
              class="btn btn-primary"
              >
              Send message
              </button>
  </div>
</form>
{%endblock %}
