{% extends "base.html" %}

{% block title %}Contact{% endblock %}

{% block content %}
<h3>How to increase your chances when sending off job applications</h3>

<p>

Okay, so you have found a job that looks interesting, that is worth a further
look.  Armed with a killer CV, how do you now go about maximising your chances,
to progress to the next stage?  
</p>
<p>
With over 20 years in recruitment, receiving
and reviewing countless applications, I have drawn up a list of 
&ldquo;do&rsquo;s&rdquo; and 
&ldquo;don&rsquo;ts&rdquo;
that will give you the edge, so that you will stand out from the crowd.
</p>

<hr>
<p>
<h3>Do</h3>
<ul>
<li>
<strong>Do include a cover letter</strong>.  
It serves as your introduction.  
It is your chance to make a good impression, make the most of it.  
Your cover letter should be professional, concise and to the point.  
Also, use the same font as you have used in your CV.   
</li>

<li>
<strong>Do address it to the right person</strong>.   
If you do not know who that is, use a phrase such as 
&lsquo;Dear Recruiter&rsquo; or 
&lsquo;Dear Hiring Team&rsquo;.
</li>

<li>
<strong>Do include the job title and/or reference number in 
the subject line</strong>.
Recruiters work on a number of jobs and receive many emails every day.  
A reference number or job title on your application helps prevent it 
from falling through the cracks.     
</li>

<li>
<strong>Do highlight your skills and/or experience</strong>.
This is your opportunity to showcase your achievements relative to the role.  
It strengthens your application.
</li>

<li>
<strong>Do research the organisation</strong>.   
Make sure you understand the job and requirements then target your cover 
letter for each application.  
</li>

<li>
<strong>Do use the email body as your covering letter</strong>.
Sadly, a busy recruiter may not
open your cover letter if it is sent as an attachment.  
</li>

<li>
<strong>Do follow the instructions in the job advert</strong>.  
If asked to give an explanation of why the company would employ you, 
make sure you do.   
If you found the advert on Linkedin and it requests you to email your CV, 
do not respond with
&lsquo;Please look at my profile&rsquo;.  
This may well be a test and will show you up in a
bad light if you can’t follow simple instructions.
</li>

<li>
<strong>Do apply only for jobs that match your skills and experience</strong>. 
It is unlikely that you will get a job if you do not have the required skill 
set and/or experience, even if you are looking for a change of career.   
</li>

<li>
<strong>Ask for the interview</strong>.
Do this in the closing paragraph, and do not forget to
include your contact details.  
</li>

<li>
<strong>Proof read your letter</strong>.  
Print it out and get someone else to read it.  
Take care when writing the letter.   
It is the first thing the recruiter will see.
Make a good impression.  
</li>

</ul>

<hr>
<h3>Don’t</h3>

<ul>

<li>
<strong>Don’t use the same cover letter for each application</strong>.  
Chances are if you do,
your letter will not hit the mark and leave the reader bored and uninspired.
</li>

<li>
<strong>Don’t address the cover letter to the wrong person</strong>
(or forget to change the name from one application to another).  
If you do, you give the impression that you don’t care.  
</li>

<li>
<strong>Don’t use the same email to apply for more than one job</strong>.
Nobody wants to see their name with a long list of others in the 
To or CC line.  
</li>

<li>
<strong>Don’t make spelling mistakes or grammatical errors</strong>.
After all, where is your attention to detail? 
</li>

<li>
<strong>Don’t use meaningless phrases or inane clichés</strong>.   
Everyone assumes that you are
&lsquo;hardworking&rsquo; and &lsquo;loyal&rsquo; anyway. Don’t waffle.
</li>

<li>
<strong>
Don’t apply for a job that does not match 
your skills and profile.
</strong>   
I cannot emphasize this enough.  
Even if you are desperate, it will not make a good
impression.  
Recruiters are focussed on filling a particular role, if you
really want to work for a company, find another way to approach the right
person in the organisation.  
</li>

<li>
<strong>
Don’t include your salary.  
</strong>   
Unless asked to, that is.  Rest assured this will
be addressed at a later date.
</li>

<li>
<strong>   
Don’t be too formal.  
</strong>   
Allow your personality to shine through.
</li>

<li>
<strong>   
Don’t just repeat what is in your CV.  
</strong>   
Use the opportunity to match yourself to
the specific job requirements. 
</li>
<li>

<strong>   
Don’t assume that you will hear back on every application you send.  
</strong>   
You can maximise your chances though, by following the do’s above.  
</li>

</ul>

<hr>
<p>
Finding a new job is challenging and requires commitment.  It will happen for
you.   Good luck!
</p>
<hr>
<p>
Lynette Steyn is a professional CV writer with over 20 years experience in 
mining, engineering and IT.
</p>
{%endblock %}
