{% extends "base.html" %}

{% block title %}How it Works{% endblock %}

{% block content %}

<h3>LinkedIn Profile</h3>

<div>
    <ul class="list-group">
        <li class="list-group-item">
            We build a comprehensive LinkedIn profile, based on your 
            CV and any other information that you can supply us.  
            The more complete your profile, the higher you will rate 
            in LinkedIn and Google searches. 
        </li>
        <li class="list-group-item">
            Your profile is added to LinkedIn groups that will give 
            you the most exposure and return the most value.
        </li>
        <li class="list-group-item">
            We will canvas your LinkedIn network for Recommendations.
        </li>
        <li class="list-group-item">
            We will also build your all important Skills List.
        </li>
        <li class="list-group-item">
            We will give you keywords that will get you noticed.
        </li>
    </ul>
</div>

<h3>CV Writing</h3>

<div>
    <ul class="list-group">
        <li class="list-group-item">
            We use your current CV as a basis to build your new, 
            professional CV and/or LinkedIn profile.  
        </li>
        <li class="list-group-item">
            We arrange a time to call you for a telephone interview. 
            The interview is used to get a better understanding of 
            you as a person.
        </li>
        <li class="list-group-item">
            You will be sent a draft for your approval. We will make 
            any changes, amendments or include any additional 
            information you require.
        </li>
        <li class="list-group-item">
            Once approved, you will receive the final document in an 
            editable format, (MS Word unless otherwise stipulated), 
            allowing you to change it yourself at a later date as your 
            circumstances change.
        </li>
    </ul>
</div>

<h3>Price</h3>

<div>
    <p> Professional Online profile and CV $100.* </p>
    <p>
        <small>
            * Please note all prices are quoted on United States Dollars.
        </small>
    </p>
</div>
{%endblock %}
