{% extends "base.html" %}

{% block title %}Job Search Tips{% endblock %}

{% block content %}

<h3>Job Search Tips</h3>

<img src="{{ STATIC_URL }}logo.png" 
     style="width: 20%; float: left; margin: 7px;" />

<p>
Looking for a new
job? So you have sent out tons of emails and job applications. How
do you get noticed and stand out from the crowd?  How can you
maximise your chances of getting a response ?
</p>

<p>
Take the time and
trouble to showcase yourself properly.  It is hard enough to get
noticed, so really it’s worth the effort. You need to market
yourself.  
</p>

<p>
Perhaps these tips will help.
</p>

<p>
<b>Firstly you need a good CV</b>. 

One that reflects
your skills and experiences properly. A full CV, not a half thrown
together summary that expects the reader to have some kind of second
sight. Leave out the tables and fancy text.  Plain, simple and to
the point is best. Nothing spells lacklustre more than a half
completed CV with spelling mistakes, poor formatting, and loads of
grammatical errors. Make it easy for the reader to identify the
important stuff.
</p>

<p>
<b>Secondly, make sure your Linkedin profile is up to date and complete.</b>

Let it also reflect
your skills and experiences properly.  This will work behind the
scenes, head-hunters are continually scanning Linkedin for new
talent.  Make connections, join groups, ask for recommendations.  You
should be constantly tweaking it.  
</p>

<p>
<b>When you reply to
an advert, write a new cover letter for</b><u><b> each</b></u><b>
application.  </b>

Don’t use the
same, bland generic one for all your applications.  Keep it short,
simple and use the job description as a pointer and highlight your
skills accordingly.  Follow the instructions in the advert.
</p>

<p>
<b>Make it your job
to find a job</b>.  

It may take time,
but the process will go nowhere unless you drive it.  Check job
boards, create job alerts and connect with people who are recruiting
in your area of experience.    Send your CV to companies who may need
your skills and expertise.  
</p>

<p>
<b>Be pushy, follow
up, and ask for timelines.  </b>
Don’t be scared to
find out what’s happened to your application.  In fact, it’s
positive and shows that you are taking the initiative, and that you
are proactive.
</p>

<p>
<b>Don’t let a
regretted application get you down
</b>.  
It is difficult to
stay positive when you hear nothing, or receive a regret email.  Try
to treat each new application as if it was your first one.  
</p>
<p>
Stay positive, and best of luck in your search.  
</p>
<p>
<em>
Lynette Steyn is a professional CV writer with over 20 years recruitment
experience in mining, engineering, logistics and IT.
</em>
</p>

{% endblock %}
