{% extends "base.html" %}

{% block title %}Order Fail{% endblock title %}

{% block content %}
<h1 class="text-center">Payment Failed</h1>

<p class="text-center">
Sorry, but it looks like there was a problem with your payment.
</p>
<p>
The message we received back was: 
<div>
&ldquo;{{ message }}&rdquo;
</div>
</p>
<p class="reference text-center">
Your reference is: <strong>{{ ref }}</strong>
</p>
<p class="text-center">
Please check with your bank.  If there is anything we can do to assist, please
feel free to contact us.
</p>

{%endblock %}
