{% extends "base.html" %}

{% block title %}Skype Interview Tips{% endblock %}

{% block content %}

<h3>Skype Interview Pointers</h3>

<p>
Skype interview? These are becoming increasingly more used as an international
recruiting tool.  They are quick to set up, much cheaper than flying a
candidate vast distances and retain many of the attributes of a face-to-face 
discussion.
</p>

<p>
Try these tips so that you put your best &ldquo;face&rdquo; forward:
</p>

<ul>

<li>
<strong>Set-up.</strong> Unless you use Skype regularly,  
download and test the Skype program a few days 
beforehand. If you are pressed for time, do it as early as you possibly
can.  Linux: Skype is still a little experiential on Linux platforms, 
so try use one
of &ldquo;Big Two&rdquo; platforms instead - Windows or Mac.
</li>

<li> 
<strong>Username and Profile Picture.</strong> Your Skype username is 
important.
Ensure it does not have any weird or inappropriate connotations.  Create a 
new, suitable Skype account if necessary.
Use a flattering picture, as opposed to an avatar or a dirty coffee cup. 
Your picture must present a professional image.
</li>

<li> 
<strong>Lighting.</strong>  Play Movie Director and set the lighting to 
best show off your face and upper body.  Be careful 
about making the light too harsh and bright.  
</li>

<li> 
<strong>Sound.</strong>  Like any production, Sound is as important as Picture.
Try to use earphones with an attached microphone rather than rely on the on-board speaker 
and microphone.  This will improve your sound quality immensely .  
</li>

<li> 
<strong>Action.</strong>  Test that all your equipment works as expected.  
Skype call a friend and find out how you sound, look and come across.  
Ask them 
about sound and picture quality.
</li>

<li> 
<strong>Background.</strong> Check your background. Ensure it is as neutral 
as possible with no pictures or furniture that will distract from you or 
message. Untidy stuff lying around and in view is not a good indicator of
your professionalism. 
</li>

<li> 
<strong>Internet Speed.</strong>  Do what you can to optimise your internet 
speed.  Shut down all other programs on your computer and ensure there are 
no other internet connections running in the background.  Skype is quite 
bandwidth
heavy, so ensure you have as much bandwidth available as you can for a 
smooth interview.
</li>

<li> 
<strong>Do your homework.</strong> A Skype interview is like a face-to-face 
interview and requires the same preparation.  Research the company and the
interviewer on the web, LinkedIn and FaceBook. Read and understand the job 
description. Prepare questions as well as points about your achievements 
and strengths. Draft answers as to why you would want to work for the 
company and what value you could add.  
</li>

<li> 
<strong>Avoid interruptions.</strong>  Close the door and ensure that no-one
disturbs the interview. Close down the email 
client and any other other programs that may pop up with notifications and
sounds during the call. Put all phones on Silent.
</li>

<li> 
<strong>Dress the part.</strong>  This is an interview, so dress accordingly.
Not only does it give the right impression, it will also help to put you in
right frame of mind.  Even though only your upper body will be visible to the
interviewer most of the time, avoid wearing a business suit with track-suit 
pants or pyjama bottoms.  You may well have to stand up to fetch 
something and the image of you wearing a business jacket with polka-dot
trunks would detract from your credibility somewhat.
</li>

<li> 
<strong>Plug your computer into a power source.</strong> The last thing you
need is for your computer to die halfway through the interview.
</li>

<li> 
<strong>Focus.</strong>  Look the camera in the eye and not at the image 
on the screen.  Be attentive. Lean forward, listen, and be enthusiastic.  
</li>

<li> 
<strong>Time Lag.</strong> Often, there is an unavoidable time lag during a
Skype call.  This is best dealt with by waiting for the other party to 
completely finish before you talk.
</li>

<li> 
<strong>Relax. </strong> Smile. Do not be too anxious. Remember this is also 
<em>your</em> chance to find out more about the company as well as they 
find out about you.  
</li>

<li> 
<strong>What’s next?</strong> At the end of the interview, ask what the 
process will be going forward. Ask them when and how you will get feedback.  
Remember to thank them for their time.  
</li>

<li> 
<strong>Make notes.</strong> Take a few minutes directly after terminating the
Skype call to put your thoughts on paper. It is an invaluable tool to clear
your thinking and will be useful as you progress to the next stage.
</li>
</ul> 

<p>

With all these things in place you will be able to focus on the call, put your
best face forward and have a confident, professional interview.   Good Luck!  

</p>

<p>
<em>
Lynette Steyn is a professional CV writer with over 20 years recruitment
experience in mining, engineering, logistics and IT.
</em>
</p>

{% endblock %}
