{% extends "base.html" %}

{% block title %}Telephone Interview{% endblock %}

{% block content %}

<h3>Telephone Interviews</h3>

<p>
Telephone interviews are happening more and more, and are often used to screen
candidates in order to narrow the pool before a face-to-face interview,
especially if distance and/or time are factors.  Remember your goal with a
telephonic interview is to get to the next stage.  
</p>

<p>
<strong>Prepare in Advance</strong>.  A telephonic interview can take place at 
short notice and
there are a number of things you can do before hand to prepare yourself - so
that you can be ready at short notice. 

<ul>
    <li>
    Have a hard copy of your CV readily available.
    </li>

    <li>
    Think about possible questions, your accomplishments and achievements, your 
    strengths and weaknesses, major projects, etc., so that when asked you have an 
    idea of what you will say. Run through scenarios where you have dealt with 
    difficult situations.  
    </li>

    <li>
    Review your LinkedIn profile. The caller will most probably have a look at it 
    before the call.  
    </li>

    <li>
    Prepare a list of questions that you can ask. Some of these are generic and can 
    be prepared in advance. These questions could include:

        <ul>
            <li>
            The company culture?
            </li>

            <li>
            What is the best thing about working for the company?
            </li>

            <li>
            How will your performance be evaluated?
            </li>

            <li>
            What opportunities exist for personal development?
            </li>

            <li>
            What is the time frame with regards to the recruitment process. For example, 
            when can you expect to hear back?  
            </li>

        </ul>
    </li>
</ul>
</p>

<p>
<strong>Do your research</strong>.  Google the company. Look at the LinkedIn profile of the
person who will be conducting the interview.  Read the job spec.  Make notes
and think of questions pertaining to these, especially those starting with something
like, &ldquo;I noticed on your company website that...&rdquo;  or &ldquo;I see in the job
description that...&rdquo;. This will show that you have done your homework.  
</p>

<p>
<strong>Choose and prepare the location carefully</strong>. Location is very important. 
You want
to be able to focus completely on the interview.  

  <ul>
    <li>
    The best place may be at home, or if you are in a busy office and unable to get 
    away, in your car.  
    </li>
    <li>
    No distractions.  Keep the dog and children out of the room. Turn off your cell 
    phone. Turn down the sound on your computer.  
    </li>
    <li>
    Use a landline if possible. If you are on your cell phone, consider using earphones.  
    </li>
    <li>
    Keep a glass of water nearby.  
    </li>
    <li>
    Open the company webpage on your computer.  
    </li>
    <li>
    Have your CV nearby.  
    </li>
    <li>
    Do not smoke or chew gum.  
    </li>
   </ul>

</p>

<p>
<strong>Listen, and Speak Clearly</strong>. Answer the phone promptly, with your name.  Try to
relax.  Make sure you understand any questions asked. It is okay to take your
time to consider your answer. Enunciate your words. Give clear, concise
answers. Keep to the point, and do not waffle. Ask questions.  Show you are
interested. Take notes for later revision.
</p>

<p>
<strong>Do not bad mouth your current or previous employers</strong>. This reflects badly, and
may backfire on you. It also shows a lack of initiative, and an inability to
solve problems.   
</p>

<p>
<strong>Salary expectations</strong>. Do not bring this up. It will be addressed at an
appropriate time. However, if asked about your salary, there are a few things to bear 
in mind.

    <ul>
        <li>
        Do not inflate your current salary. You could well be asked for 
        relevant documentation.  
        </li>

        <li>
        When asked what you are expecting, say you are flexible and 
        give a range, rather 
        than an exact figure.  This allows for negotiation later.  
        </li>
    </ul>

</p>

<p>
<strong>Say &ldquo;Thank You&rdquo;</strong>.  At the end of the interview, 
make sure to thank 
the caller, use their name and ask what will happen next in the process.
</p>

<p>
Be professional throughout the call, remain upbeat and interested.  Project
yourself positively.  And a telephonic interview means that you are one step
closer. 
</p>

<p>
<em>
Lynette Steyn is a professional CV writer with over 20 years recruitment
experience in mining, engineering, logistics and IT.
</em>
</p>

{% endblock %}
