{% extends "base.html" %}

{% block title %}Why Us?{% endblock %}

{% block content %}

<h3>Your CV is your Ambassador ...</h3>

<p>

When looking for a new job, think about the number of hoops you need to
jump through before you arrive at work on your first day.

</p>

<p>

In these days of internet and emails it is almost impossible to speak to
a person. When you send your CV it seems to disappear into a Black Hole.
Your CV needs to stand out.
Recruiters typically spend less than <em>30 seconds</em> reviewing a CV.
Your CV has half-a-minute or less to 
speak for you, to stand out for you, to make it onto that shortlist, to ensure
that you get that all important interview where you can sell yourself.  

</p>

<p>

Our consultants have been reviewing and writing CV&rsquo;s for 20 years.  We
understand what makes a good CV.  We know what should be included, what should
be left out, what should be highlighted, what should be on the first page or
left until last. We <em>know</em> what recruiters are looking for in a CV.  

</p>

<p>

Our speciality lies in mining, engineering and IT.  That&rsquo;s what we know.  Those
are the CV&rsquo;s we write best.  Allow us to assist you in navigating that
first hoop.  Let us write your Professional CV for you.  
</p>
<p>
Let us help you stand out from the crowd.

</p>

<h3>... And your LinkedIn Profile is your Secret Weapon</h3>

<p>

LinkedIn is a personal branding tool.  Never before has it been this important
to develop and maintain a really strong LinkedIn profile.  With over 225
million users it is one of today&rsquo;s largest networking sites, and everyone expects you
to have a LinkedIn profile.  Potential employers will google you before they meet you.

</p>

<p>While you are actively looking for a new job, LinkedIn works for you behind the scenes.
This is where you get to tell your own professional story.   
This is where you get to showcase yourself.   
This is where Headhunters and Recruiters will find you.

</p>

<p>

We are those Headhunters.  We know what Headhunters look for, what search terms they
use, how they use groups and networks to find candidates.  Let us assist
you in getting noticed by the right people.  Let us write your LinkedIn profile
for you.    
</p>
<p>
Let us help you stand out from the crowd.

</p>

{%endblock %}
